{% extends "admin/layoutadmin.html.twig" %}
{% block admin %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Create Brand Product
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-primary">
                        {{ form_start(form) }}
                        <div class="box-body">
                            <div class="form-group">
                                {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':'Brand Name'}}) }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button tyle="margin-right: " type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}